:root{
    --text-color:white;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}


body{
   
    font-family: "Montserrat", sans-serif;

}

section{
    min-height: 100vh;
}

h1{
    font-size: 3rem;
    font-family: sans-serif;
}

h2{
    font-size: 2.5rem;
    font-family: sans-serif;
}


p{
    font-size: 1.5rem;
    font-family: serif;
}

.btn{
    padding: 0.5rem;
    width: fit-content;
    border-radius: 10px;
    background: transparent;
    border: 2px solid #3f72af;
    color: white;
    transition: 0.5s ease-in-out;

}

.btn:hover {
    background: #3f72af;
    color: black;
    transform: scale(1.05);

}

.btn:hover .fa-solid{
    color: black;

}

.fa-solid{
    transition: 0.5s ease-in-out;
    color: white;
}


.nav > ul  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    justify-content:center;
    align-content: center;
    background: rgb(14,14,15);
    background: linear-gradient(90deg, rgba(14,14,15,1) 0%, rgba(15,17,17,1) 76%, rgba(14,14,15,1) 96%);
    backdrop-filter: blur(10px);
    height: 4rem;
    gap: 3rem;
}

.nav > ul > li > a{
    color: var(--text-color);
    transition: 0.5s ease-in-out;

}

.nav > ul > li > a:hover{
    color: #3f72af;
    padding: 0.5rem;
}



.section_1{
    
    position: relative;
    background: rgb(11,11,12);
    background: linear-gradient(90deg, rgba(11,11,12,1) 0%, rgba(9,10,10,1) 76%, rgba(8,8,8,1) 96%);
    min-height: 100vh;
    color: var(--text-color);

}

.content{
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 101;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}


#name{
    transition: 0.5s ease-in-out;
    cursor: pointer;
    color: #3f72af;
}

#name:hover{

    color: #112d4e;
    transform: scale(1.1);

}



.img-inicial > img{
    height: 32rem;
    position: absolute;
    right: 5% ;
    top: 10%;
    transition: 0.5s ease-in-out;
    z-index: 100;
}

.img-inicial > img:hover{
    transform: translateX(20px);
    backdrop-filter: grayscale(100%);

}

.section_2{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('../assets/image2.jpg') ;
    background-size:cover;
    color: var(--text-color);
    
    display: grid;
    grid-template: 0.5fr 2fr/1fr;
}


.section_2_header{
    display: flex;
    justify-content: center;
    align-items: center;
}


.section_2_content{
    display: flex;
    gap: 7rem;
    justify-content: center;
    align-items: center;
}

.card_sect2{
    display: grid;
    grid-template: 2fr 1fr/1fr;
    width: 15rem;
    height: 80%;
    padding:10px;
    border-radius: 10px;
    box-shadow: rgba(63, 114, 175, 0.35) 0px 5px 15px;
    background: linear-gradient(rgba(15,15,15,0.60),rgba(15,15,15,0.75));
    transition: 0.5s ease-in-out;

}

.card_sect2:hover{
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;

}

.card_sect2_img {
    position: relative;
}

.card_sect2_img > img{
    width: 100%;
    height: 16rem;
    object-fit:cover;
}

.modal_sec2{
    position: absolute;
    width: 100%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    z-index: 101;
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
    transition: 0.5s ease-in-out;
    opacity: 0;
}


.card_sect2:hover .modal_sec2{
    bottom: 50%;
    opacity: 1;
}

.footer{
     color: #f9f7f7;
     background-color: black;
     min-height: 5vh;
     font-size: 1.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
}


@media (max-width:680px) {
    /*for ipad and smartphones*/
}