*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.35fr 4fr 0.25fr;
    font-family: "Montserrat", sans-serif;

}

.nav{
    grid-column: span 2;
}

.footer{
    grid-column: span 2;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    justify-content:space-between;
    align-content: center;
    gap: 1rem;
    background-color: #f9f7f7;
    height: 100%;

}

.nav-item > ul > li{
    list-style: none;
}

.nav > .nav-item> ul > li > a{
    color: #112d4e;
    text-decoration: none;
    transition: ease-in 0.5s;
}

.nav-item > ul > li > a:hover{
    color: #3f72af;
    font-size: 1.10rem;


}

.menu > ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    height: 100%;
}

.logo{
    font-size: 1.25rem;
}

.main{
    display: grid;
    grid-template: 1fr 1fr/1fr;
}

.intro {
    background-color: #dbe2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
}

.passion{
    background-color: #3f72af;
}

.footer{
     background-color: #112d4e;
     color: #f9f7f7;
     font-size: 0.5rem;
}


@media (max-width:680px) {
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .menu > ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        height: 100%;
    }

    .logo{
        display: none;
    }

    .intro   {
        
        justify-content: center;
        
        
    }

    .intro > p{
        text-justify: distribute-all-lines;
    }

    

    .footer {
        display: flex;
        justify-content: center;
    }
}